<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<div layout:fragment="content">
    <!-- Кнопка для добавления задачи -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mymodel">
        + Add New Task
    </button>

    <!-- Модальное окно для добавления задачи -->
    <form action="/tasks/add" method="post">
        <div class="modal fade" id="mymodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text"
                               class="form-control"
                               name="taskName"
                               placeholder="Insert task name..."><br>
                        <textarea name="description" cols="30" rows="4"
                                  placeholder="Insert description..."
                                  class="form-control"></textarea><br>
                        <input type="date" class="form-control" name="deadLineDate"><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Task</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DEADLINE DATE</th>
            <th>IS COMPLETED</th>
            <th>DETAILS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.deadlineDate}"></td>
            <td th:text="${task.completed}"></td>
            <td>
                <a th:href="@{/tasks/details/{id}(id=${task.id})}" class="btn btn-primary">DETAILS</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
